{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEACHER HOME</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    <style>

        .notification {
  background-color: #333;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 16px;
}

.notification:hover {
  background: green;
}

.notification .badge {
  position: absolute;
  top: -00px;
 right: -00px;
  padding: 3px 8px;
  border-radius: 50%;
  background: red;
  color: white;
}
    </style>

</head>
<body class= "pic" background="{% static 'teacher home.jpg' %}">
<div class="navbar">
  <a href="{% url 'update_pr_tr' %}">UPDATE PROFILE</a>
  <a href="{% url 'st_pr' %}">STUDENT PROGRESS</a>
  <div class="dropdown">
  <button class="dropbtn">TOPIC<i class="fa fa-caret-down"></i></button>
      <div class="dropdown-content">
            <a href="{% url 'subject_tr' %}">SUBJECT</a>
            <a href="{% url 'chapter_tr' %}">CHAPTER</a>
            <a href="{% url 'ch_co_tr' %}">CHAPTER CONTENT</a>
      </div>
  </div>
  <button  class="notification" onclick="location.href='{% url 'stu_buk_acc' %}'"><span>STUDENT BOOKED DETAILS<i class="fa fa-caret-down"></i></span>
    <a href="{% url 'notiffy' %}" class="badge">{% if count > 0 %}{{count}}{% else %}0{% endif %}</a></button>

  <div class="dropdown">
    <button class="dropbtn">EXAM<i class="fa fa-caret-down"></i></button>

    <div class="dropdown-content">
        <a href="{% url 'sched_test' %}">SCHEDULE A TEST</a>
        <a href="{% url 'delete_test' %} ">DELETE SCHEDULE TEST</a>
        <a href="{% url 'exam_result' %} ">RESULT</a>
    </div>
  </div>
  <a href="{% url 'm_m3' %} ">MESSAGE</a>
  <a href="{% url 'atten' %} ">ATTENDENCE</a>
  <a href="{% url 'logout' %}" id="nbn" onclick="return confirm('Are you sure?')">LOGOUT</a>


</div>
<center>
<div class="head">
    <h1 style="color:black">TEACHER HOME </h1>

</div>
<div style="color:blue;font-size:200%;">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
</div>

</center>


</body>

</html>

